


{{ form_start(form) }}
    <div>
        
        <label for="{{ form.Name.vars.id }}">Név</label>
        {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
        
    </div>
    <div>
        
        <label for="{{ form.Email.vars.id }}">E-mail</label>
        {{ form_widget(form.Email, { 'attr': { 'class': 'form-control' } }) }}
        
    </div>
    <div>
        
        <label for="{{ form.Note.vars.id }}">Üzenet</label>
        {{ form_widget(form.Note, { 'attr': { 'class': 'form-control' } }) }}
        
    </div>
    <div>
        {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary' } }) }}
    </div>
{{ form_end(form) }}